.fruitInfoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fruitInfoDiv {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.fruitInfoDiv > div {
    width: 50%;
}

.fruitInfoDiv img {
    width: 100%;
    height: 100%;
}